@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
body{
    font-family: 'Poppins', 'sens-serif';
}

.section-padding{
    padding: 60px 0;
}
/*<----------*******---------->*/
/*<--Header Section Start->*/
/*<----------*******---------->*/
.toggler-btn {
    display: none;
    float: right;
    margin-top: -48px;
    margin-right: 50px;
    position: absolute;
    top: auto;
    right: 0;

    .fa-bars{
        color: #fff;
        font-size: 30px;
    }
}
.header-bg{
    background: url(../img/header-bg.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center top;
    position: relative;
}

.header-section{
    .navbar-header{
        margin: 18px 0;
    }
    .main-navbar{
        margin: 4px;
        padding-top: 8px;
        ul{
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        li{
            display: inline-block;
        }
        a{
            color: #D6D4DA;
            opacity: 58%;
            text-decoration: none;
            text-transform: uppercase;
            padding: 0 32px;
            font-size: 18px;
            font-family: 'Poppins', sans-serif;
            font-weight: 300;
        }
        .active{
            color: #fff;
            opacity: 100%;
        }
        .navbar-btn{
            display: inline-block;
            margin-left: 70px;
            a{
                padding: 0;
                color: #fff;
                opacity: 100%;
            }
            .sign-up, .sign-in{
                background-color: transparent;
                border: none;
                font-family: 'Poppins', sans-serif;
                font-weight: 500;
            }
            .sign-in{
                border: 1px solid #fff;
                padding: 10px 45px;
                border-radius: 34px;
                margin-left: 25px;
            }
            .sign-in:hover{
                background-color: #fff;
                color: #000;
                transition: .8s ease;
            }
        }
    }
    .header-title-section{
        float: left;
        margin-top: 30px;
        .hero-heading{
            font-family: 'Archivo Black', sans-serif;
            color: #fff;
            font-size: 81px;
            span{
                color: #FF5C63;
            }
        }
        .heading-para{
            font-family: 'Poppins', 'sens-serif';
            font-weight: 400;
            color: #fff;
            font-size: 18px;
            margin: 30px 0;
        }
        .header-btn{
            padding: 15px 50px;
            background: transparent;
            border-radius: 25px;
            color: #FF6F75;
            border: 1px solid #FF5C63;
            position: relative;
            &::after{
                content: '';
                background: url(../img/arrow-round-back.svg);
                position: absolute;
                width: 48px;
                background-repeat: no-repeat;
                height: 15px;
                top: 50%;
                right: -50px;
                transform: translate(-50%, -50%);
            }

        }
        .header-btn:hover{
            background-color: #fff;
            transition: .8s ease;
            opacity: 100%;
        }
        .arrow-icon{    
            display: block;
            color: #FFA7AB;
            margin-right: -180px;
            margin-top: -20px;
        }
    }
}


/*<----------*******---------->*/
/*<--Quick Section Start->*/
/*<----------*******---------->*/

.quick-section{
    position: absolute;
    bottom: 0;
    width: 100%;
    .quick-section-input-area{
        .quick-form-group-item {
            display: flex;
            height: 100%;
            width: 100%;
            background-color: #fff;
            position: relative;
            padding: 20px 0;


            &:before {
                content: '';
                height: 100%;
                top: 0;
                width: 100%;
                background-color: #fff;
                position: absolute;
                right: 100%;
            }

            .quick-section-item{
                position: relative;
                input[type='text'] {
                    border: 0;
                    background-color: transparent;
                    width: auto;
                    display: block;
                    font-size: 16px;
                    font-family: 'Poppins';
                    font-weight: 400;
                    color: #000;
                }
                input:focus{
                    border: 0;
                    outline: 0;
                }
                label{
                    display: block;
                    font-size: 14px;
                    font-family: 'Poppins';
                    font-weight: 400;
                    color: #9B9B9B;
                }

                &::after{
                    content: "";
                    width: 1px;
                    height: 40px;
                    display: block;
                    background-color: #ddd;
                    top: 0;
                    position: absolute;
                    right: 20%;
                }
                &:last-child::after {
                    visibility: hidden;
                }
            }
        }
        input.quick-start-btn {
            position: absolute;
            top: 0;
            right: 0;
            border: 0;
            width: auto;
            height: 100%;
            border-radius: 0 16px 0 0;
            outline: 0;
            background-color: #FF5C63;
            padding: 0 25px;
            font-size: 18px;
            font-family: 'Poppins';
            font-weight: 600;
            color: #fff;
        }
    }
}


/*<----------*******---------->*/
/*<--Next Generation Section Start->*/
/*<----------*******---------->*/

.next-gen-section{
    .next-gen-header-area{
        font-family: 'poppins', 'sans-serif';
        h5 {
            font-size: 16px;
            color: #9B9B9B;
            font-weight: 400;
            font-family: 'Poppins', sans-serif;
          }
          h2{
              color: #000;
              font-size: 50px;
              margin-bottom: 60px;
        }
    }
    .next-gen-item01{
        position: relative;
        .img-fluid{
            width: 100%;
        }
        .video-play-btn {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -70%);
            font-size: 50px;
            color: #fff;
            border: 2px solid #fff;
            border-radius: 50%;
            padding: 1%;
            z-index: 1;
          }
    }
    .next-gen-item02{
        position: relative;
        .img-fluid{
            width: 100%;
        }
        .video-play-btn {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -70%);
            font-size: 50px;
            color: #fff;
            border: 2px solid #fff;
            border-radius: 50%;
            padding: 2%;
            z-index: 1;
          }
    }
    
    .next-gen-text-area {
        position: absolute;
        bottom: 20px;
        left: 25px;
        color: #fff;
        font-size: 25px;
        font-family: 'Poppins', sans-serif;
        a{
            color: #E4E4E4;
            text-decoration: none;
            font-size: 20px;
        }
    }
    .next-gen-last-row {
        margin-top: 20px;
      }
}

/*<----------*******---------->*/
/*<--Meet Olarm Kit Section Start->*/
/*<----------*******---------->*/



.meet-olarm-kit-section{
    .meet-olarm-kit-bg{
        background-image: url(../img/meet-alarm-kit-bg.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .meet-olarm-kit-header-area{
        & h5 {
            color: #9B9B9B;
            font-size: 16px;
            font-family: 'Poppins', 'sans-serif';
            margin-top: 60px;
        }
        & h2 {
            color: #000;
            font-size: 50px;
            font-family: 'Poppins', sans-serif;
            margin-bottom: 150px;
        }
    }
    .card {
        width: 40%;
        margin: 0 auto;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border-radius: 44px;
        padding: 50px 60px;
        margin-bottom: 400px;
        
    }
}

/*<----------*******---------->*/
/*<--Home Automotion Section Start->*/
/*<----------*******---------->*/
.home-automotion-section-area{
    .home-automotion-section-bg{
        background-image: url(../img/home-automotion-bg.png);
        background-position: center;
    }
    .home-automotion-section-inner{
        .home-automotion-content-area{
            padding: 0;
            margin-top: 200px;
            margin-left: 50px;
            margin-bottom: 150px;
        & h5{
            color: #fff;
            font-size: 16px;
            font-weight: 400;
            font-family: 'Poppins', sans-serif;
            }
        & h2{
            color: #fff;
            font-size: 40px;
            font-family: 'Poppins', sans-serif;
            font-weight: 500;
            margin: 30px 0;
            }
        & p{
            color: #fff;
            font-size: 18px;
            font-family: 'Poppins', sans-serif;
            font-weight: 400;
            margin: 30px 0;
            }
        & h4{
            color: #fff;
            font-size: 17px;
            font-family: 'Poppins', sans-serif;
            font-weight: 500; 
            margin-top: 44px;
            margin-bottom: 20px;
            }
        }
        .home-automotion-img-group {
            margin-top: 35px;
            margin: 0;
            padding: 0;
            .home-automotion-img-item{
                display: inline;
                &:nth-child(2){
                    margin: 0 27px;
                }
            }
        }
        .home-automotion-img-group2{
            margin-top: 22px;
            margin: 0;
            padding: 0;
            .home-automotion-img-item{
                display: inline;
                &:last-child{
                    margin-left: 23px;
                }
            }
        }
        .home-automotion-img-group3{
            margin-top: 23px;
            margin-bottom: 164px;
            margin: 0;
            padding: 0;
            .home-automotion-img-item{
                display: inline;
                &:last-child{
                    margin-left: 23px;
                }
            }
        }
    }
}


/*<----------*******---------->*/
/*<--Protection Plan Section Start->*/
/*<----------*******---------->*/

.protection-plan-section{
    .protection-plan-header-area{
        padding-bottom: 74px;
        h5{
            font-size: 16px;
            font-family: 'Poppins', sans-serif;
            font-weight: 400;
        }
        h2{
            font-size: 50px;
            font-family: 'Poppins', sans-serif;
            font-weight: inherit;
        }
        .switch {
            position: relative;
            display: inline-block;
            width: 120px;
            height: 27px;
        }
        .switch-label{
            font-size: 24px;
            font-family: 'Poppins', sans-serif;
            font-weight: inherit;
        }
        .switch input { 
            opacity: 0;
            width: 0;
            height: 0;
        }
        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
        }
        .slider:before {
            position: absolute;
            content: "";
            height: 41px;
            width: 41px;
            left: 4px;
            bottom: 4px;
            transform: matrix(0.17, -0.99, 0.99, 0.17, 0, 0);
            background: transparent linear-gradient(145deg, #FF1E1E 0%, #FF1E1E 20%, #C94C52 73%, #FF1C26 100%, #4ADD75 100%) 0% 0% no-repeat padding-box;
            box-shadow: 1px 1px 5px rgba(#C94C52, 0.6);
            opacity: 1;
            margin: 0 0 -10px -3px;
            -webkit-transition: .4s;
            transition: .4s;
        }
        input:checked + .slider:before {
            -webkit-transform: translateX(77px);
            -ms-transform: translateX(77px);
            transform: translateX(77px);
        }
        .slider.round {
            border-radius: 34px;
        }
        .slider.round:before {
            border-radius: 50%;
        }
    }
}
.row.no-gutters {
    margin-right: 0;
    margin-left: 0;
 }
 .row.no-gutters > [class^="col-"],
 .row.no-gutters > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
 }


.protection-plan-section{
    padding: 134px 0;
    .card{
        background-color: #FCFCFC;
        padding: 68px 38px;
        box-shadow: 0px 25px 30px #ddd;
        .card-title{
            h2{
                font-size: 30px;
                font-family: 'Oswald', sans-serif;
                font-weight: 500;
                color: #353535;
            }
            .review-area{
                img{
                    margin: 13px 0;
                }
            }
            .price-area{
                .price{
                    font-family: 'Oswald', sans-serif;
                    font-weight: 400;
                    font-size: 54px;
                    color: #353535;
                }
                .curency{
                    font-size: 36;
                }
            }
            h6{
                font-size: 17px;
                font-family: 'Oswald';
                font-weight: 400;
                color: #353535;
                margin-top: 0;
            }
        }
        .card-body{
            margin-top: 70px;
            padding-bottom: 37px;
            ul{
                li{
                    font-family: 'Poppins';
                    font-weight: 400;
                    font-size: 15px;
                    color: #353535;
                }
            }
        }
        .card-footer{
            text-align: center;
            padding-bottom: 66px;
            a{
                text-decoration: none;
            }
            button{
                color: #fff;
                background: transparent linear-gradient(90deg, #DB0011 0%, #FF1C26 100%) 0% 0% no-repeat padding-box;
                box-shadow: 0px 0px 15px #FF707087;
                border-radius: 33px;
                opacity: 1;
                border: none;
                outline: none;
                font-size: 18px;
                font-weight: 500;
                padding: 14px 38px;
            }
        }
    }
    .package1{
        margin-top: 60px;
        .card{
            border-radius: 30px 0 0 30px;
            padding-right: 0;
            .card-body{
                ul{
                    margin: 0;
                    padding: 0;
                    list-style-type: none;
                    li{
                        margin-bottom: 30px;
                        position: relative;
                        padding-left: 50px;
                        &:last-child{
                            margin-bottom: 0;
                        }
                        &::before{
                            content: '';
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 32px;
                            height: 25px;
                            background-image: url(../img/check-sign.svg);
                        }
                    }
                }
            }
        }
    }



    .package2{
        .card{
            background: linear-gradient(to top,  #fb1f20 0%,#dd262f 100%);
            border-radius: 30px;
            .card-title{
                margin-top: 80px;
                h2{
                    color: #fff;
                }
                .price-area{
                    .price{
                        font-size: 58px;
                        color: #fff;
                    }
                    .curency{
                        font-size: 40;
                    }
                }
                h6{
                    color: #fff;
                }
            }
            .card-body{
                padding-bottom: 84px;
                ul{
                    margin: 0;
                    padding: 0;
                    list-style-type: none;
                    li{
                        font-family: 'Poppins';
                        font-weight: 400;
                        font-size: 15px;
                        color: #FFFFFF;
                        margin-bottom: 30px;
                        position: relative;
                        padding-left: 50px;
                        &:last-child{
                            margin-bottom: 0;
                        }
                        &::before{
                            content: '';
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 35px;
                            height: 27px;
                            background-image: url(../img/check-seign-white.svg);
                        }
                    }
                }
            }
            .card-footer{
                text-align: center;
                padding-bottom: 74px;
                a{
                    text-decoration: none;
                }
                button{
                    color: #fff;
                    background: rgba(255, 255, 255, 0.3);
                    box-shadow: 0px 0px 15px #FF707087;
                    border-radius: 33px;
                    opacity: 1;
                    border: 1px solid #fff;
                    outline: none;
                    font-size: 18px;
                    font-weight: 500;
                    padding: 14px 38px;
                }
            }
        }
    }





    .package3{
        margin-top: 60px;
        .card{
            border-radius: 0 30px 30px 0;
            .card-body{
                ul{
                    margin: 0;
                    padding: 0;
                    list-style-type: none;
                    li{
                        margin-bottom: 30px;
                        &:last-child{
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }






    
}







/*<----------*******---------->*/
/*<--control-from Section Start->*/
/*<----------*******---------->*/
.control-from-anywhere-section{
    .control-from-anywhere-bg{
        background: url(../img/control-from-bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        .card{
            margin-top: 339px;
            background-color: #fff;
            padding: 55px 0;
            position: relative;
            padding-right: 74px;
            &:before {
                background-color: #fff;
                content: "";
                top: 0;
                left: -100%;
                width: 100%;
                height: 100%;
                position: absolute;
            }
            .card-title{
                h4{
                    font-size: 16px;
                    font-family: 'Poppins', 'Sans-serif';
                    font-weight: 400;
                    color: #000;
                }
                h2{
                    font-size: 50px;
                    font-family: 'Poppins', 'Sans-serif';
                    font-weight: 400;
                    color: #000;
                }
            }
            .card-body{
                font-size: 18px;
                font-family: 'Poppins', 'Sans-serif';
                font-weight: 400;
                color: #000;
                margin: 18px 0;
            }
            .card-footer{
                a{
                    button{
                        color: #fff;
                        padding: 15px 45px;
                        font-size: 18px;
                        font-weight: 500;
                        background: transparent linear-gradient(90deg, #DB0011 0%, #FF1C26 100%) 0% 0% no-repeat padding-box;
                        box-shadow: 0px 0px 15px #FF707087;
                        border-radius: 33px;
                        opacity: 1;
                        border: none;
                        outline: none;
                    }
                }
            }
        }
    }
}
/*<----------*******---------->*/
/*<--Footer Section Start->*/
/*<----------*******---------->*/
.footer-section-area{
    background-color: #FFFFFF;
    padding: 100px 0;
    .footer-widget-header img {
        margin-bottom: 28px;
    }
    
    .footer-widget-body{
        margin-bottom: 30px;
        position: relative;
        p {
            font-size: 16px;
            font-weight: 400;
            font-family: 'Poppins', 'Sans-serif';
        }
        &:after {
            content: "";
            width: 1px;
            height: 100px;
            background-color: #eee;
            position: absolute;
            top: -15px;
            right: 0;
        }
    }
    .footer-widget-social-links{
        ul{
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            li{
                padding: 0 15px;
                &:first-child {
                    padding-left: 0;
                }
                &:last-child{
                    padding-right: 0;
                }
                a{
                    text-decoration: none;
                }
            }
        }
    }
    .footer-widget-nav-links {
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 16px;
        font-family: 'Poppins', 'Sans-serif';
        font-weight: 400;
        li {
            margin-bottom: 20px;
            display: block;
            &:last-child {
                margin-bottom: 0;
            }
            a {
                display: block;
                color: black;
                text-decoration: none;
            }
        }
    }
    .footer-widget-form{
        h3{
            font-family: 'Poppins', 'Sans-serif';
            font-size: 19px;
            font-weight: 600;
            margin-top: 0;
        }
        p{
            font-size: 16px;
            font-family: inherit;
            font-weight: 400;
        }
        input[type="email"] {
            position: relative;
            
            width: 100%;
            border: none;
            background-color: #fff;
            padding: 14px 16px;
            box-shadow: 0px 0px 30px #0000000D;
            border-radius: 30px;
        }
        input:focus {
            outline: none;
            border: none;
          }
        ::placeholder{
            color: #BBBBBB;
            font-size: 16px;
            font-family: inherit;
            font-weight: 400;
        }
        .subscribe-section-area button {
            position: absolute;
            background: transparent linear-gradient(90deg, #DB0011 0%, #FF1C26 100%) 0% 0% no-repeat padding-box;
            border: none;
            padding: 13px 20px;
            color: #fff;
            right: 0;
            border-radius: 30px;
            font-size: 16px;
            font-family: 'Poppins', 'Sans-serif';
            font-weight: 400;
        }
        p.copyrights {
            margin-top: 38px;
            font-size: 16px;
            font-family: 'Poppins', 'Sans-serif';
            font-weight: 400;
            color: #C7C7C7;
        }
    }
}
/*<----------*******---------->*/
/*<--Media Query Start->*/
/*<----------*******---------->*/
@media screen and (max-width: 1199px){
    .col-md-2{
        width: 100% !important;
        display: grid;
        text-align: center;
    }
    .col-md-10{
        width: 100% !important;
        text-align: center;
    }
}
@media screen and (min-width: 992px) and (max-width: 1199px){
    .header-section .main-navbar .navbar-btn{
        margin-left: 0;
    }
    .header-section .main-navbar a{
        font-size: inherit;
    }
    .header-section .header-title-section .hero-heading{
        font-size: 60px;
    }
    .next-gen-section .next-gen-header-area h2{
        font-size: 40px;
    }
    .meet-olarm-kit-section .meet-olarm-kit-header-area h2{
        margin-bottom: 100px;
    }
    .meet-olarm-kit-section .card{
        margin-bottom: 200px;
    }
    .home-automotion-section-area .home-automotion-section-inner .home-automotion-content-area{
        margin-top: 80px;
    }
    .home-automotion-img-group li:last-child{
        width: 49%;
    }
    
}


@media screen and (min-width: 768px) and (max-width: 991px){
    .col-md-2{
        width: 100% !important;
        display: grid;
        text-align: center;
    }
    
    .toggler-btn {
        display: block;
        cursor: pointer;
    }
    .main-navbar.active ul li {
        display: block;
    }
    .main-navbar{
        display: none;
    }
    .main-navbar.active{
        margin: 0;
        display: block;
        position: absolute;
        top: 0;
        background: #29191a;
        z-index: 3;
        width: 100%;
        left: 0;
        height: auto;
        ul{
            li{
                a{
                    display: flex;
                    padding: 20px 32px;
                }
            }
        }
    }
    .header-section .main-navbar a{
        padding: 0 14px;
        font-size: 15px;
    }
    .header-section .main-navbar .navbar-btn{
        margin-left: 0;
    }
    .header-section .main-navbar .navbar-btn .sign-in{
        padding: 10px 41px;
    }
    .header-section .header-title-section{
        margin-top: 0;
    }
    .protection-plan-section .package1 .card, .protection-plan-section .package2 .card, .protection-plan-section .package3 .card{
        border-radius: 30px;
    }
    .protection-plan-section .package1 .card {
        margin-bottom: 20px;
    }

}

@media screen and (max-width: 992px){
    .col-md-2{
        width: 100% !important;
        display: grid;
        text-align: inherit;
    }
    .main-navbar.active ul li {
        display: block;
    }

    .toggler-btn {
        display: block;
        cursor: pointer;
    }
    .main-navbar{
        display: none;
    }
    .main-navbar.active{
        margin: 0;
        display: block;
        position: absolute;
        top: 0;
        background: #29191a;
        z-index: 3;
        width: 100%;
        left: 0;
        height: auto;
        ul{
            li{
                a{
                    display: flex;
                    padding: 20px 32px;
                }
            }
        }
    }
    .header-section .header-title-section{
        margin-top: 0;
    }
    .next-gen-section .next-gen-header-area h2{
        font-size: 40px;
        margin-bottom: 26px
    }
    .next-gen-section .next-gen-item01{
        margin: 10px 0;
    }
    .section-padding{
        padding: 0;
    }
    .meet-olarm-kit-section .meet-olarm-kit-header-area h5{
        margin: 15px 0;
    }
    .meet-olarm-kit-section .meet-olarm-kit-header-area h2{
        font-size: 40px;
        margin-bottom: 60px;
    }

    .meet-olarm-kit-section .card{
        width: 100%;
        margin-bottom: 100px;
    }
    .home-automotion-section-area .home-automotion-section-inner .home-automotion-content-area{
        margin: 40px 0;
    }
    .home-automotion-section-area .home-automotion-section-inner .home-automotion-content-area h2{
        font-size: 30px;
    }
    .home-automotion-section-area .home-automotion-section-inner .home-automotion-img-group2{
        margin: 20px 0;
    }
    .home-automotion-section-area .home-automotion-section-inner .home-automotion-content-area h4{
        margin-top: 0;
        margin-bottom: 20px;
    }
    .protection-plan-section{
        padding: 50px 0;
    }
    .protection-plan-section .protection-plan-header-area h2{
        font-size: 40px;
    }
    .protection-plan-section .protection-plan-header-area{
        padding-bottom: 0;
    }
    .protection-plan-section .package1 .card, .protection-plan-section .package2 .card, .protection-plan-section .package3 .card{
        border-radius: 30px;
    }
    .protection-plan-section .package1{
        margin-bottom: 20px;
    }
    
    .footer-section-area {
        padding: 50px 0;
    }
    .footer-widget-item {
        margin: 15px 0;
    }
}
@media screen and (max-width: 768px){
    .header-section .header-title-section .hero-heading{
        font-size: 40px;
    }
    .col-md-2{
        width: 100% !important;
        display: grid;
        text-align: inherit;
    }
    .quick-section .quick-section-input-area .quick-form-group-item{
        flex-direction: column;
    }
    .quick-section .quick-section-input-area .quick-form-group-item .quick-section-item{
        padding-bottom: 20px;
    }
    .quick-section .quick-section-input-area input.quick-start-btn{
        position: inherit;
        width: 100%;
        margin: auto;
        border-radius: 15px;
        padding: 20px 0;
        margin-bottom: 20px;
    }
    .quick-section .quick-section-input-area .quick-form-group-item:before{
        position: inherit;
    }
    .quick-form-group-item{
        padding: 20px 14px;
    }
    .quick-section .quick-section-input-area .quick-form-group-item .quick-section-item::after{
        position: inherit;
        width: 0;
    }
    .quick-section{
        position: inherit;
        padding: 30px;
        border-bottom: 1px solid #ddd
    }
    .next-gen-header-area{
        margin-top: 20px;
    }
    .header-section .main-navbar .navbar-btn{
        margin: 0;
        padding-bottom: 30px;
    }
    .control-from-anywhere-section .control-from-anywhere-bg .card:before{
        border: none;
    }
}




/*<----------*******---------->*/
/*<--Media Query Start->*/
/*<----------*******---------->*/

@media screen and(max-width: 576px){
    .next-gen-section .next-gen-header-area h2{
        font-size: 25px;
    }
    .next-gen-section .next-gen-text-area{
        h3{
            font-size: 20px;
        }
    }
    .next-gen-section .next-gen-text-area a{
        font-size: 15px;
    }
    .next-gen-section .next-gen-item01 .video-play-btn{
        width: 50px;
    }
    .next-gen-section .next-gen-item02 .video-play-btn{
        width: 50px;
    }
    .meet-olarm-kit-section .meet-olarm-kit-header-area h5{
        font-size: 15px;
    }

    .meet-olarm-kit-section .meet-olarm-kit-header-area h2{
        font-size: 30px;
        margin-bottom: 15px
    }

    .meet-olarm-kit-section .card{
        padding: 25px 30px;
        margin-bottom: 50px;
    }

    .home-automotion-section-area .home-automotion-section-inner .home-automotion-content-area p{
        font-size: 15px;
    }

    .home-automotion-section-area .home-automotion-section-inner .home-automotion-img-group3 .home-automotion-img-item:last-child{
        margin-left: 0;
    }

    .protection-plan-section .package1{
        margin-bottom: 20px;
    }
    .protection-plan-section .package1{
        margin-bottom: 30px;
    }
    .protection-plan-section .card{
        padding: 20px 25px;
    }

    .protection-plan-section .card .card-title h2{
        font-size: 20px;
    }
    .protection-plan-section .card .card-title .review-area img{
        margin: 0;
    }
    .protection-plan-section .card .card-title .price-area .price{
        font-size: 40px;
    }
    .protection-plan-section .card .card-title h6{
        font-size: 15px;
    }
    .protection-plan-section .card .card-body{
        margin-top: 30px;
    }

    .protection-plan-section .package1 .card .card-body ul li{
        margin-bottom: 20px;
    }
    .protection-plan-section .card .card-footer{
        padding-bottom: 20px;
    }
    .protection-plan-section .card .card-footer button{
        padding: 15px 30px;
        font-size: 15px;
    }
    .protection-plan-section .package2 .card .card-title{
        margin-top: 0;
    }
    .protection-plan-section .package2 .card .card-title .price-area .price{
        font-size: 40px;
    }
    .protection-plan-section .package2 .card .card-body ul li{
        margin-bottom: 20px;
    }
    .protection-plan-section .package2 .card .card-body{
        padding-bottom: 37px;
    }
    .protection-plan-section .package2 .card .card-footer{
        padding-bottom: 20px;
    }
    .protection-plan-section .package2 .card .card-footer button{
        padding: 15px 30px;
        font-size: 15px;
    }
    .protection-plan-section .package3 .card .card-body ul li{
        margin-bottom: 20px;
    }
    ul.home-automotion-img-group3 {
        display: flex;
    }
    .header-section .header-title-section .hero-heading{
        font-size: 30px;
    }
    .control-from-anywhere-section .control-from-anywhere-bg .card .card-title h2{
        font-size: 25px;
    }
    .control-from-anywhere-section .control-from-anywhere-bg .card .card-body{
        font-size: 14px;
    }
    .control-from-anywhere-section .control-from-anywhere-bg .card .card-footer a button{
        font-size: 15px;
        padding: 12px 30px;
        box-shadow: 0px 0px 5px #FF707087;
    }


    .footer-section-area .footer-widget-header img{
        margin-bottom: 15px;
    }
    .footer-section-area .footer-widget-body{
        margin-bottom: 15px;
    }
    .footer-section-area .footer-widget-nav-links{
        margin-bottom: 30px;
    }

}








